/*Importando fontes*/
@font-face{
	font-family: "Quantico-Bold-Italic";
	src:url('../fonts/Quantico-BoldItalic.otf');
}

@font-face{
	font-family: "Quantico-Bold";
	src:url('../fonts/Quantico-Bold.otf');
}

@font-face{
	font-family: "Quantico-Regular";
	src:url('../fonts/Quantico-Regular.otf');
}

/*---------------------*/
/*Classes genericas*/
body{
	padding: 0;
	margin: 0;
}

.amarelo{
	color: rgb(255,226,43);
}

.reg-amarela{
	background-color: rgb(255,226,43);
}

.reg-preta{
	background-color: rgb(0,0,0);
	color: white;
}

.barra{
	margin: 0% 5%;
}

.sem-quebra{
	white-space: nowrap;
}
/*---------------------*/
/*CSS da Barra de navegação*/
nav{
	display: flex;
	background-color: rgb(51,51,51);
	color: white;
	font-family: Quantico-Bold-Italic;
	justify-content: space-between;
}

.nav-opcoes{
	display: flex;
	justify-content: center;
}

@media(min-width: 801px){
	nav{
		font-size: 14.5px;
		padding: 1% 5%;
	}
}

@media (max-width: 800px){
	nav{
		font-size: 13.5px;
		padding: 2% 5%;
	}
}

/*-----------------------*/
/*Primeria section do site*/
.sec1{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 28pt;
	padding: 8% 4%;
	font-family: Quantico-Bold;
}

.sec1>div{
	margin: 0% 6%;
}

.logo{
	width: 90%;
}

@media(max-width: 620px){
	.sec1{
		font-size: 15pt;
	}
}

@media(min-width: 621px) and (max-width:895px){
	.sec1{
		font-size: 22pt;
	}
}

/*----------------------*/
/*Segunda section*/
.sec2{
	display: flex;
	justify-content: center;
}

.sec2>div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 7% 0%;
	font-family: Quantico-Bold;
}

.sec2>div>div:nth-child(1){
	font-size: 60pt;
}

.sec2>div>div:nth-child(2){
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 620px){
	.sec2>div>div:nth-child(1){
		font-size: 40pt;
	}
}

@media (min-width: 621px) and (max-width: 991px){
	.sec2>div>div:nth-child(1){
		font-size: 45pt;
	}
}
/*----------------------*/
/*Terceira section*/
.sec3{
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 14% 0% 4% 0%;
	font-family: Quantico-Bold;
}

.tabela{
	display: flex;
	flex-direction: column;
	width: 65%;
}

.sec3>div>div:nth-child(2){
	display: flex;
	border: solid black 1px;
	padding: 1% 2%;
	align-items: center;
	justify-content: space-around;
	font-size: 14pt;
}


.titulo{
	align-self: flex-start;
	text-align: center;
	padding: 0.5% 2%;
	font-size: 18pt;
}

@media(max-width: 718px){
	.sec3>div>div:nth-child(2){
		font-size: 10pt;		
	}

	.tabela{
		width: 80%;
	}

	.titulo{
		font-size: 10pt;
	}
}

@media(min-width: 719px) and (max-width: 800px){
	.sec3>div>div:nth-child(2){
		font-size: 11.5pt;		
	}

	.tabela{
		width: 70%;
	}

	.titulo{
		font-size: 11.5pt;
	}
}

/*--------------------*/
/*Quarta section*/
.sec4{
	background-image: url(../images/shape.png);
	background-size: 55% 100%;
	background-repeat: no-repeat;
	padding: 5% 8%;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}


.sec4>div>div:nth-child(1){
	font-size: 25pt;
	font-family: Quantico-Bold;
}

.sec4>div>div:nth-child(2){
	font-size: 130pt;
	font-family: Quantico-Bold;
	margin: -15% 0%;
}

.sec4>div>div:nth-child(3){
	font-size: 42pt;
	font-family: Quantico-Regular;
	margin: -2% 0%;
}

.sec4>div>div:nth-child(4){
	font-size: 20pt;
	color: rgb(226,200,56);
	background-color: rgb(35,31,32); 
	padding: 0.5% 1%;
	font-family: Quantico-Bold;
	text-align: center;
}

@media (max-width: 720px){

	.sec4>div>div:nth-child(1){
		font-size: 11.5pt;
		text-align: center;
	}

	.sec4>div>div:nth-child(2){
		font-size: 63pt;
	}

	.sec4>div>div:nth-child(3){
		font-size: 19pt;
	}

	.sec4>div>div:nth-child(4){
		font-size: 9pt;
	}
}

@media(min-width: 721px) and (max-width: 996px){
	.sec4>div>div:nth-child(1){
		font-size: 18pt;
		text-align: center;
	}

	.sec4>div>div:nth-child(2){
		font-size: 95pt;
		text-align: center;
	}

	.sec4>div>div:nth-child(3){
		font-size: 30pt;
		text-align: center;
	}

	.sec4>div>div:nth-child(4){
		font-size: 12pt;
		text-align: center;
	}
}

/*--------------------*/
/*Quinta section*/
.sec5{
	padding: 5%;
}

.seguir{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	padding: 5%;
	font-family: Quantico-Bold;
}

.seguir>div>div>div:nth-child(1){
	font-size: 28pt;
}

.seguir>div>div>div:nth-child(2){
	font-size: 20pt;
}

.seguir>div>div:nth-child(2){
	display: flex;
	justify-content: space-between;
}

.botao{
	background-color: rgb(57,181,74);
	font-size: 12pt;
	font-family: Quantico-Bold;
	border-radius: 5px;
	border:none;
	padding: 2% 5%;
	margin: 3% 0%;
}

.grupo-itens{
	flex-flow: row wrap;
	display: flex;
	padding: 0% 21%;
	justify-content: space-around;
	font-family: Quantico-Bold;
	font-size: 13pt;
}

.itens{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	width: 15vw;
	height: 19vw;
	margin: 1.5% 1%;
	border-radius: 5px;
	padding: 1% 0% 0% 0%;
	border: 2px white solid;
}

.itens>div{
	display: flex;
	justify-content: center;
}

.itens:hover{
	border:2px solid rgb(57,181,74);
	border-radius: 10px;
	cursor: pointer;
}

.compre-agora{
	background-color: rgb(57,181,74);
	width: 100%;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	text-align: center;
	padding: 2% 0%;
	color: white;
	font-size: 13pt;
}

.imagem{
	width: 80%;
	height: 70%;
}

@media(max-width: 620px){
	.seguir{
		justify-content: center;
	}

	.seguir>div>div>div:nth-child(1){
		font-size: 24pt;
		text-align: center;
	}

	.seguir>div>div>div:nth-child(2){
		font-size: 14pt;
		text-align: center;
	}

	.botao{
		font-size: 10pt;
		margin: 2%;
	}

	.grupo-itens{
		padding: 0% 15%;
	}

	.itens{
		width: 24vw;
		height: 33vw;
		margin: 5% 1%;
	}

	.compre-agora{
		font-size: 10pt;
	}
}

@media (min-width: 621px) and (max-width: 989px){
	.seguir{
		justify-content: center;
	}

	.seguir>div>div>div:nth-child(1){
		font-size: 24pt;
		text-align: center;
	}

	.seguir>div>div>div:nth-child(2){
		font-size: 14pt;
		text-align: center;
	}

	.botao{
		font-size: 10pt;
		margin: 2%;
	}

	.grupo-itens{
		padding: 0% 15%;
	}

	.itens{
		width: 24vw;
		height: 28vw;
		margin: 5% 1%;
	}

	.compre-agora{
		font-size: 13pt;
	}
}

footer{
	background-color: rgb(51,51,51);
	padding: 1%;
}

/*configuracao especifica para as imagens*/
.ryu{
	position: absolute;
	left: 5%; 
	top: 52%;
	width: 30%;
}

@media(max-width: 989px){
	.ryu{
		left: 2vw; 
		top: 36vw;
		width: 24%;
	}
}

@media (min-width: 621px ) and (max-width:989px ){
	.ryu{	
		width: 24%;
		top: 30vw;
	}
}
/*-------------------------------*/

.megaman{
	position: absolute;
	right: 18%;
	width: 18%;
	top: 40%;
}

@media(max-width: 620px){
	.megaman{
		right: 17vw;
		width: 18%;
		top: 33vw;
	}
}

@media (min-width: 621px ) and (max-width:989px ){
	.megaman{	
		width: 18%;
		top: 29vw;
	}
}
/*---------------------------------*/

.chunlee{
	position: absolute;
	right: 2%;
	top: 54%;
	width: 34%;
	z-index: 1;
}

@media(max-width: 620px){
	.chunlee{
		width: 30%;
		top: 28vw;
	}
}

@media (min-width: 621px ) and (max-width:989px ){
	.chunlee{	
		width: 27%;
		top: 40vw;
		right: 0;
	}
}
/*-------------------------------------*/
.pacman{
	position: absolute;
	left: 10%;
	width: 43%;
	
}

@media(max-width: 989px){	
	.pacman{
		width: 40%;
	}
}
